<h1>Transações</h1>

<p id="error"><%= notice %></p>

<table>
  <tr>
    <th>Email do usuário</th>
	<th>ID de transação</th>
    <th>Valor</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.user_email %></td>
    <td><%= transaction.transaction_id %></td>
	<td><%= transaction.amount %></td>
    <td><%= transaction.status %></td>
	<% if transaction.status == 'approved' %>
	  <td><%= link_to 'Cancelar', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova transação', new_transaction_path %>
